pipeline/CopyPurchasingAnalyticsFromExcelToSQLPool.json
{
	"name": "CopyPurchasingAnalyticsFromExcelToSQLPool",
	"properties": {
		"activities": [
			{
				"name": "CopyPurchasingAnalytics",
				"description": "Copy the PurchasingAnalytics Excel To SQL Pool DW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start Log - Return ProcessID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{pipeline().parameters.P_ContainerRawFiles}//Purchasing Analytics.xlsx"
					},
					{
						"name": "Destination",
						"value": "@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": {
							"value": "IF Object_id('@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}', 'U') IS NOT NULL\nTRUNCATE TABLE @{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}",
							"type": "Expression"
						},
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "PurchasingAnalyticseExcelDS",
						"type": "DatasetReference",
						"parameters": {
							"P_ExcelTableName": {
								"value": "@pipeline().parameters.P_ExcelTableName",
								"type": "Expression"
							},
							"P_StorageAccountRawFiles": {
								"value": "@pipeline().parameters.P_StorageAccountRawFiles",
								"type": "Expression"
							},
							"P_ContainerRawFiles": {
								"value": "@pipeline().parameters.P_ContainerRawFiles",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASynapsePurchaseTableDS",
						"type": "DatasetReference",
						"parameters": {
							"P_SQLPoolServername": {
								"value": "@pipeline().parameters.P_SQLPoolServername",
								"type": "Expression"
							},
							"P_SQLPoolDBName": {
								"value": "@pipeline().parameters.P_SQLPoolDBName",
								"type": "Expression"
							},
							"P_DBSchema": {
								"value": "@pipeline().parameters.P_DBSchema",
								"type": "Expression"
							},
							"P_TableName": {
								"value": "@replace(pipeline().parameters.P_ExcelTableName, ' ', '')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "End - Log Passed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyPurchasingAnalytics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
					"storedProcedureParameters": {
						"ETLProcessID": {
							"value": {
								"value": "@activity('Start Log - Return ProcessID').output.firstRow.ETLProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "PASSED",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLPool_ddo_azuresqldw_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_SQLPoolServername": {
							"value": "@pipeline().parameters.P_SQLPoolServername",
							"type": "Expression"
						},
						"P_SQLPoolDBName": {
							"value": "@pipeline().parameters.P_SQLPoolDBName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "End - Log Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyPurchasingAnalytics",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
					"storedProcedureParameters": {
						"ETLProcessID": {
							"value": {
								"value": "@activity('Start Log - Return ProcessID').output.firstRow.ETLProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "FAILED",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('CopyPurchasingAnalytics').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLPool_ddo_azuresqldw_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_SQLPoolServername": {
							"value": "@pipeline().parameters.P_SQLPoolServername",
							"type": "Expression"
						},
						"P_SQLPoolDBName": {
							"value": "@pipeline().parameters.P_SQLPoolDBName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Start Log - Return ProcessID",
				"description": "Insert a new record into table [LOG].[ETLProcessLogs] and return ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[LOG].[sp_StartETLProcessLogs]",
						"storedProcedureParameters": {
							"ProcessName": {
								"type": "String",
								"value": {
									"value": "@{pipeline().Pipeline}_@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASynapsePurchaseTableDS",
						"type": "DatasetReference",
						"parameters": {
							"P_SQLPoolServername": "mdwdosqlsrvrdevpoc.database.windows.net",
							"P_SQLPoolDBName": "ddo_azuresqldw_dw",
							"P_DBSchema": "purchase",
							"P_TableName": "DimDates"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"P_StorageAccountRawFiles": {
				"type": "string",
				"defaultValue": "mdwdostordevpoc"
			},
			"P_ContainerRawFiles": {
				"type": "string",
				"defaultValue": "raw-purchase"
			},
			"P_ExcelTableName": {
				"type": "string",
				"defaultValue": "Dim Vendors"
			},
			"P_SQLPoolServername": {
				"type": "string",
				"defaultValue": "mdwdosqlsrvrdevpoc.database.windows.net"
			},
			"P_SQLPoolDBName": {
				"type": "string",
				"defaultValue": "ddo_azuresqldw_dw"
			},
			"P_DBSchema": {
				"type": "string",
				"defaultValue": "purchase"
			},
			"P_SQLUserName": {
				"type": "string",
				"defaultValue": "sqladmin"
			},
			"P_SQLServerPass": {
				"type": "string",
				"defaultValue": "mdwdo-azsql-SqlP@ss-poc"
			}
		},
		"annotations": []
	}
}