pipeline/Foreach-CopyPurchasingAnalyticsFromExcelToSQLPool.json
{
	"name": "Foreach-CopyPurchasingAnalyticsFromExcelToSQLPool",
	"properties": {
		"activities": [
			{
				"name": "Copy PurchasingAnalysisExcelFile Into DB",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "StartProcessLog - ReturnProcessID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('V_ListOfSheetNames')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CopyPurchasingAnalyticsFromExcelToSQLPool",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"P_SerectName_StorageAccount": {
										"value": "@pipeline().parameters.P_SerectName_StorageAccount",
										"type": "Expression"
									},
									"P_ContainerRawFiles": {
										"value": "@pipeline().parameters.P_ContainerRawFiles",
										"type": "Expression"
									},
									"P_ExcelTableName": {
										"value": "@item()",
										"type": "Expression"
									},
									"P_AKV_VaultURI": {
										"value": "@pipeline().parameters.P_AKV_VaultURI",
										"type": "Expression"
									},
									"P_AKU_SecretName_SQLPool": {
										"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
										"type": "Expression"
									},
									"P_DBSchema": {
										"value": "@pipeline().parameters.P_DBSchema",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "StartProcessLog - ReturnProcessID",
				"description": "Insert a new record into table [LOG].[ETLProcessLogs] and return ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[LOG].[sp_StartETLProcessLogs]",
						"storedProcedureParameters": {
							"ProcessName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASynapsePurchaseTableDS",
						"type": "DatasetReference",
						"parameters": {
							"P_AKV_VaultURI_SQLPool": {
								"value": "@pipeline().parameters.P_AKV_VaultURI",
								"type": "Expression"
							},
							"P_AKU_SecretName_SQLPool": {
								"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
								"type": "Expression"
							},
							"P_DBSchema": {
								"value": "@pipeline().parameters.P_DBSchema",
								"type": "Expression"
							},
							"P_TableName": "DimDates"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "EndProcessLog-Passed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy PurchasingAnalysisExcelFile Into DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
					"storedProcedureParameters": {
						"ETLProcessID": {
							"value": {
								"value": "@activity('StartProcessLog - ReturnProcessID').output.firstRow.ETLProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "PASSED",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLPool_ddo_azuresqldw_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_AKV_VaultURI_SQLPool": {
							"value": "@pipeline().parameters.P_AKV_VaultURI",
							"type": "Expression"
						},
						"P_AKU_SecretName_SQLPool": {
							"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EndProcessLog_Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy PurchasingAnalysisExcelFile Into DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
					"storedProcedureParameters": {
						"ETLProcessID": {
							"value": {
								"value": "@activity('StartProcessLog - ReturnProcessID').output.firstRow.ETLProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": "FAILED",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Execute Pipeline1').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLPool_ddo_azuresqldw_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_AKV_VaultURI_SQLPool": {
							"value": "@pipeline().parameters.P_AKV_VaultURI",
							"type": "Expression"
						},
						"P_AKU_SecretName_SQLPool": {
							"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"P_AKV_VaultURI": {
				"type": "string",
				"defaultValue": "https://akv-dev-sqt.vault.azure.net/"
			},
			"P_ContainerRawFiles": {
				"type": "string",
				"defaultValue": "raw-purchase"
			},
			"P_SerectName_StorageAccount": {
				"type": "string",
				"defaultValue": "StorageAccount-mdwdostordevpoc"
			},
			"P_AKU_SecretName_SQLPool": {
				"type": "string",
				"defaultValue": "SQLPool-HangSQLPool-Learn1"
			},
			"P_DBSchema": {
				"type": "string",
				"defaultValue": "purchase"
			}
		},
		"variables": {
			"V_ListOfSheetNames": {
				"type": "Array",
				"defaultValue": [
					"Dim Dates",
					"Dim Vendors",
					"Dim VendorGroups",
					"Dim Companies",
					"Dim Departments",
					"Dim Currencies",
					"Dim Products",
					"Dim ProductSubGroups",
					"Dim ProductGroups",
					"Dim PAMSTypes",
					"Dim Employees",
					"Dim SavingTypes",
					"Dim PaymentTerms",
					"Fact PurchaseRequests",
					"Fact PAMS",
					"Fact PurchaseOrders",
					"Fact Receives",
					"Fact Payments"
				]
			}
		},
		"annotations": []
	}
}