mdwdosqlsrvrdevpoc/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "mdwdosqlsrvrdevpoc"
		},
		"mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().P_VaultURI}"
		},
		"RawPurchaseData_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().P_SerectName_StorageAccount"
		},
		"SQLPool_ddo_azuresqldw_dw_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().P_AKU_SecretName_SQLPool"
		},
		"mdwdosqlsrvrdevpoc-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mdwdostordevpoc.dfs.core.windows.net"
		},
		"Trigger_tumblingwindow_test_properties_pipeline_parameters_startedAt": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/ddo_azuresqldw_dw')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CopyPurchasingAnalyticsFromExcelToSQLPool')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyPurchasingAnalytics",
						"description": "Copy the PurchasingAnalytics Excel To SQL Pool DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Start Log - Return ProcessID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{pipeline().parameters.P_ContainerRawFiles}//Purchasing Analytics.xlsx"
							},
							{
								"name": "Destination",
								"value": "@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "IF Object_id('@{pipeline().parameters.P_DBSchema}.@{pipeline().parameters.P_TableName}', 'U') IS NOT NULL\nTRUNCATE TABLE @{pipeline().parameters.P_DBSchema}.@{pipeline().parameters.P_TableName}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "PurchasingAnalyticseExcelDS",
								"type": "DatasetReference",
								"parameters": {
									"P_VaultURI_StorageAccount": {
										"value": "@pipeline().parameters.P_AKV_VaultURI",
										"type": "Expression"
									},
									"P_SerectName_StorageAccount": {
										"value": "@pipeline().parameters.P_SerectName_StorageAccount",
										"type": "Expression"
									},
									"P_ContainerRawFiles": {
										"value": "@pipeline().parameters.P_ContainerRawFiles",
										"type": "Expression"
									},
									"P_ExcelTableName": {
										"value": "@pipeline().parameters.P_ExcelTableName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ASynapsePurchaseTableDS",
								"type": "DatasetReference",
								"parameters": {
									"P_AKV_VaultURI_SQLPool": {
										"value": "@pipeline().parameters.P_AKV_VaultURI",
										"type": "Expression"
									},
									"P_AKU_SecretName_SQLPool": {
										"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
										"type": "Expression"
									},
									"P_DBSchema": {
										"value": "@pipeline().parameters.P_DBSchema",
										"type": "Expression"
									},
									"P_TableName": {
										"value": "@pipeline().parameters.P_TableName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "End - Log Passed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPurchasingAnalytics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[log].[sp_EndETLProcessLog]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('Start Log - Return ProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "PASSED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": null
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_AKV_VaultURI_SQLPool": {
									"value": "@pipeline().parameters.P_AKV_VaultURI",
									"type": "Expression"
								},
								"P_AKU_SecretName_SQLPool": {
									"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "End - Log Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPurchasingAnalytics",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[log].[sp_EndETLProcessLog]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('Start Log - Return ProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('CopyPurchasingAnalytics').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_AKV_VaultURI_SQLPool": {
									"value": "@pipeline().parameters.P_AKV_VaultURI",
									"type": "Expression"
								},
								"P_AKU_SecretName_SQLPool": {
									"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Start Log - Return ProcessID",
						"description": "Insert a new record into table [log].[ETLProcessLog] and return ID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[log].[sp_StartETLProcessLog]",
								"storedProcedureParameters": {
									"ProcessName": {
										"type": "String",
										"value": {
											"value": "@{pipeline().Pipeline}_@{pipeline().parameters.P_DBSchema}.@{pipeline().parameters.P_TableName}",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ASynapsePurchaseTableDS",
								"type": "DatasetReference",
								"parameters": {
									"P_AKV_VaultURI_SQLPool": {
										"value": "@pipeline().parameters.P_AKV_VaultURI",
										"type": "Expression"
									},
									"P_AKU_SecretName_SQLPool": {
										"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
										"type": "Expression"
									},
									"P_DBSchema": "dbo",
									"P_TableName": "DimDates"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"parameters": {
					"P_SerectName_StorageAccount": {
						"type": "string",
						"defaultValue": "StorageAccount-mdwdostordevpoc"
					},
					"P_ContainerRawFiles": {
						"type": "string",
						"defaultValue": "raw-purchase"
					},
					"P_ExcelTableName": {
						"type": "string",
						"defaultValue": "Dim Vendors"
					},
					"P_AKV_VaultURI": {
						"type": "string",
						"defaultValue": "https://akv-dev-sqt.vault.azure.net/"
					},
					"P_AKU_SecretName_SQLPool": {
						"type": "string",
						"defaultValue": "SQLPool-HangSQLPool-Learn1"
					},
					"P_DBSchema": {
						"type": "string"
					},
					"P_TableName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/PurchasingAnalyticseExcelDS')]",
				"[concat(variables('workspaceId'), '/datasets/ASynapsePurchaseTableDS')]",
				"[concat(variables('workspaceId'), '/linkedServices/SQLPool_ddo_azuresqldw_dw')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Foreach-CopyPurchasingAnalyticsFromExcelToSQLPool')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy PurchasingAnalysisExcelFile Into DB",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "StartProcessLog - ReturnProcessID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('V_ListOfSheetNames')",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "CopyPurchasingAnalyticsFromExcelToSQLPool",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"P_SerectName_StorageAccount": {
												"value": "@pipeline().parameters.P_SerectName_StorageAccount",
												"type": "Expression"
											},
											"P_ContainerRawFiles": {
												"value": "@pipeline().parameters.P_ContainerRawFiles",
												"type": "Expression"
											},
											"P_ExcelTableName": {
												"value": "@split(item(), '_')[0]",
												"type": "Expression"
											},
											"P_AKV_VaultURI": {
												"value": "@pipeline().parameters.P_AKV_VaultURI",
												"type": "Expression"
											},
											"P_AKU_SecretName_SQLPool": {
												"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
												"type": "Expression"
											},
											"P_DBSchema": {
												"value": "@toLower(split(item(), ' ')[0])",
												"type": "Expression"
											},
											"P_TableName": {
												"value": "@split(item(), '_')[1]",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "StartProcessLog - ReturnProcessID",
						"description": "Insert a new record into table [log].[ETLProcessLog] and return ID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[log].[sp_StartETLProcessLog]",
								"storedProcedureParameters": {
									"ProcessName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ASynapsePurchaseTableDS",
								"type": "DatasetReference",
								"parameters": {
									"P_AKV_VaultURI_SQLPool": {
										"value": "@pipeline().parameters.P_AKV_VaultURI",
										"type": "Expression"
									},
									"P_AKU_SecretName_SQLPool": {
										"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
										"type": "Expression"
									},
									"P_DBSchema": "purchase",
									"P_TableName": "DimVendors"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "EndProcessLog-Passed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy PurchasingAnalysisExcelFile Into DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[log].[sp_EndETLProcessLog]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('StartProcessLog - ReturnProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "PASSED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": null
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_AKV_VaultURI_SQLPool": {
									"value": "@pipeline().parameters.P_AKV_VaultURI",
									"type": "Expression"
								},
								"P_AKU_SecretName_SQLPool": {
									"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "EndProcessLog_Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy PurchasingAnalysisExcelFile Into DB",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[log].[sp_EndETLProcessLog]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('StartProcessLog - ReturnProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Execute Pipeline1').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_AKV_VaultURI_SQLPool": {
									"value": "@pipeline().parameters.P_AKV_VaultURI",
									"type": "Expression"
								},
								"P_AKU_SecretName_SQLPool": {
									"value": "@pipeline().parameters.P_AKU_SecretName_SQLPool",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"P_AKV_VaultURI": {
						"type": "string",
						"defaultValue": "https://akv-dev-sqt.vault.azure.net/"
					},
					"P_ContainerRawFiles": {
						"type": "string",
						"defaultValue": "raw-purchase"
					},
					"P_SerectName_StorageAccount": {
						"type": "string",
						"defaultValue": "StorageAccount-mdwdostordevpoc"
					},
					"P_AKU_SecretName_SQLPool": {
						"type": "string",
						"defaultValue": "SQLPool-HangSQLPool-Learn1"
					}
				},
				"variables": {
					"V_ListOfSheetNames": {
						"type": "Array",
						"defaultValue": [
							"Dim Dates_Date",
							"Dim Vendors_Vendor",
							"Dim VendorGroups_VendorGroup",
							"Dim Companies_Company",
							"Dim Departments_Department",
							"Dim Currencies_Currency",
							"Dim Products_Product",
							"Dim ProductSubGroups_ProductSubGroup",
							"Dim ProductGroups_ProductGroup",
							"Dim PAMSTypes_PAMSType",
							"Dim Employees_Employee",
							"Dim SavingTypes_SavingType",
							"Dim PaymentTerms_PaymentTerm",
							"Fact PurchaseRequests_PurchaseRequest",
							"Fact PAMS_PAMS",
							"Fact PurchaseOrders_PurchaseOrder",
							"Fact Receives_Receive",
							"Fact Payments_Payment"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ASynapsePurchaseTableDS')]",
				"[concat(variables('workspaceId'), '/linkedServices/SQLPool_ddo_azuresqldw_dw')]",
				"[concat(variables('workspaceId'), '/pipelines/CopyPurchasingAnalyticsFromExcelToSQLPool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "startdt"
							}
						],
						"typeProperties": {
							"variableName": "startdt",
							"value": {
								"value": "@pipeline().parameters.startedAt",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"startedAt": {
						"type": "string"
					}
				},
				"variables": {
					"startdt": {
						"type": "String",
						"defaultValue": "dsd"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ASynapsePurchaseTableDS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPool_ddo_azuresqldw_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_AKV_VaultURI_SQLPool": {
							"value": "@dataset().P_AKV_VaultURI_SQLPool",
							"type": "Expression"
						},
						"P_AKU_SecretName_SQLPool": {
							"value": "@dataset().P_AKU_SecretName_SQLPool",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"P_AKV_VaultURI_SQLPool": {
						"type": "string",
						"defaultValue": "Vault URI"
					},
					"P_AKU_SecretName_SQLPool": {
						"type": "string",
						"defaultValue": "AKV Serect Name"
					},
					"P_DBSchema": {
						"type": "string",
						"defaultValue": "purchase"
					},
					"P_TableName": {
						"type": "string",
						"defaultValue": "DimVendors"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().P_DBSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().P_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/SQLPool_ddo_azuresqldw_dw')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PurchasingAnalyticseExcelDS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RawPurchaseData",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_VaultURI_StorageAccount": {
							"value": "@dataset().P_VaultURI_StorageAccount",
							"type": "Expression"
						},
						"P_SerectName_StorageAccount": {
							"value": "@dataset().P_SerectName_StorageAccount",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"P_VaultURI_StorageAccount": {
						"type": "String",
						"defaultValue": "VaultURI"
					},
					"P_SerectName_StorageAccount": {
						"type": "String",
						"defaultValue": "SerectName"
					},
					"P_ContainerRawFiles": {
						"type": "String",
						"defaultValue": "raw-purchase"
					},
					"P_ExcelTableName": {
						"type": "string",
						"defaultValue": "Dim Dates"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().P_ExcelTableName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Purchasing Analytics.xlsx",
						"container": {
							"value": "@dataset().P_ContainerRawFiles",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RawPurchaseData')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureKeyVault1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"P_VaultURI": {
						"type": "String",
						"defaultValue": "uri"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RawPurchaseData')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"P_VaultURI_StorageAccount": {
						"type": "String",
						"defaultValue": "AKV Vault URI"
					},
					"P_SerectName_StorageAccount": {
						"type": "string",
						"defaultValue": "Serect Name"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_VaultURI": {
									"value": "@linkedService().P_VaultURI_StorageAccount",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "[parameters('RawPurchaseData_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('workspaceId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQLPool_ddo_azuresqldw_dw')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"P_AKV_VaultURI_SQLPool": {
						"type": "string",
						"defaultValue": "uri"
					},
					"P_AKU_SecretName_SQLPool": {
						"type": "String",
						"defaultValue": "serect name"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_VaultURI": {
									"value": "@linkedService().P_AKV_VaultURI_SQLPool",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "[parameters('SQLPool_ddo_azuresqldw_dw_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('workspaceId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mdwdosqlsrvrdevpoc-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('mdwdosqlsrvrdevpoc-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Trigger_tumblingwindow_test')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Pipeline 1",
						"type": "PipelineReference"
					},
					"parameters": {
						"startedAt": "[parameters('Trigger_tumblingwindow_test_properties_pipeline_parameters_startedAt')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 1,
					"startTime": "2021-06-22T05:13:00Z",
					"endTime": "2021-06-22T08:18:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/Pipeline 1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}