mdwdosqlsrvrdevpoc/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "mdwdosqlsrvrdevpoc"
		},
		"RawPurchaseData_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'RawPurchaseData'"
		},
		"SQLPool_ddo_azuresqldw_dw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLPool_ddo_azuresqldw_dw'"
		},
		"mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer'"
		},
		"mdwdosqlsrvrdevpoc-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mdwdostordevpoc.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/CopyPurchasingAnalyticsFromExcelToSQLPool')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CopyPurchasingAnalytics",
						"description": "Copy the PurchasingAnalytics Excel To SQL Pool DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Start Log - Return ProcessID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{pipeline().parameters.P_ContainerRawFiles}//Purchasing Analytics.xlsx"
							},
							{
								"name": "Destination",
								"value": "@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": {
									"value": "IF Object_id('@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}', 'U') IS NOT NULL\nTRUNCATE TABLE @{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}",
									"type": "Expression"
								},
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "PurchasingAnalyticseExcelDS",
								"type": "DatasetReference",
								"parameters": {
									"P_ExcelTableName": {
										"value": "@pipeline().parameters.P_ExcelTableName",
										"type": "Expression"
									},
									"P_StorageAccountRawFiles": {
										"value": "@pipeline().parameters.P_StorageAccountRawFiles",
										"type": "Expression"
									},
									"P_ContainerRawFiles": {
										"value": "@pipeline().parameters.P_ContainerRawFiles",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ASynapsePurchaseTableDS",
								"type": "DatasetReference",
								"parameters": {
									"P_SQLPoolServername": {
										"value": "@pipeline().parameters.P_SQLPoolServername",
										"type": "Expression"
									},
									"P_SQLPoolDBName": {
										"value": "@pipeline().parameters.P_SQLPoolDBName",
										"type": "Expression"
									},
									"P_DBSchema": {
										"value": "@pipeline().parameters.P_DBSchema",
										"type": "Expression"
									},
									"P_TableName": {
										"value": "@replace(pipeline().parameters.P_ExcelTableName, ' ', '')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "End - Log Passed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPurchasingAnalytics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('Start Log - Return ProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "PASSED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": null
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_SQLPoolServername": {
									"value": "@pipeline().parameters.P_SQLPoolServername",
									"type": "Expression"
								},
								"P_SQLPoolDBName": {
									"value": "@pipeline().parameters.P_SQLPoolDBName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "End - Log Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyPurchasingAnalytics",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('Start Log - Return ProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('CopyPurchasingAnalytics').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_SQLPoolServername": {
									"value": "@pipeline().parameters.P_SQLPoolServername",
									"type": "Expression"
								},
								"P_SQLPoolDBName": {
									"value": "@pipeline().parameters.P_SQLPoolDBName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Start Log - Return ProcessID",
						"description": "Insert a new record into table [LOG].[ETLProcessLogs] and return ID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[LOG].[sp_StartETLProcessLogs]",
								"storedProcedureParameters": {
									"ProcessName": {
										"type": "String",
										"value": {
											"value": "@{pipeline().Pipeline}_@{pipeline().parameters.P_DBSchema}.@{replace(pipeline().parameters.P_ExcelTableName, ' ', '')}",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ASynapsePurchaseTableDS",
								"type": "DatasetReference",
								"parameters": {
									"P_SQLPoolServername": "mdwdosqlsrvrdevpoc.database.windows.net",
									"P_SQLPoolDBName": "ddo_azuresqldw_dw",
									"P_DBSchema": "purchase",
									"P_TableName": "DimDates"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"parameters": {
					"P_StorageAccountRawFiles": {
						"type": "string",
						"defaultValue": "mdwdostordevpoc"
					},
					"P_ContainerRawFiles": {
						"type": "string",
						"defaultValue": "raw-purchase"
					},
					"P_ExcelTableName": {
						"type": "string",
						"defaultValue": "Dim Vendors"
					},
					"P_SQLPoolServername": {
						"type": "string",
						"defaultValue": "mdwdosqlsrvrdevpoc.database.windows.net"
					},
					"P_SQLPoolDBName": {
						"type": "string",
						"defaultValue": "ddo_azuresqldw_dw"
					},
					"P_DBSchema": {
						"type": "string",
						"defaultValue": "purchase"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/PurchasingAnalyticseExcelDS')]",
				"[concat(variables('workspaceId'), '/datasets/ASynapsePurchaseTableDS')]",
				"[concat(variables('workspaceId'), '/linkedServices/SQLPool_ddo_azuresqldw_dw')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Foreach-CopyPurchasingAnalyticsFromExcelToSQLPool')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy PurchasingAnalysisExcelFile Into DB",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "StartProcessLog - ReturnProcessID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('V_ListOfSheetNames')",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 4,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "CopyPurchasingAnalyticsFromExcelToSQLPool",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"P_StorageAccountRawFiles": {
												"value": "@pipeline().parameters.P_StorageAccountRawFiles",
												"type": "Expression"
											},
											"P_ContainerRawFiles": {
												"value": "@pipeline().parameters.P_ContainerRawFiles",
												"type": "Expression"
											},
											"P_ExcelTableName": {
												"value": "@item()",
												"type": "Expression"
											},
											"P_SQLPoolServername": {
												"value": "@pipeline().parameters.P_SQLPoolServername",
												"type": "Expression"
											},
											"P_SQLPoolDBName": {
												"value": "@pipeline().parameters.P_SQLPoolDBName",
												"type": "Expression"
											},
											"P_DBSchema": {
												"value": "@pipeline().parameters.P_DBSchema",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "StartProcessLog - ReturnProcessID",
						"description": "Insert a new record into table [LOG].[ETLProcessLogs] and return ID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[LOG].[sp_StartETLProcessLogs]",
								"storedProcedureParameters": {
									"ProcessName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ASynapsePurchaseTableDS",
								"type": "DatasetReference",
								"parameters": {
									"P_SQLPoolServername": "mdwdosqlsrvrdevpoc.database.windows.net",
									"P_SQLPoolDBName": "ddo_azuresqldw_dw",
									"P_DBSchema": "purchase",
									"P_TableName": "DimDates"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "EndProcessLog-Passed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy PurchasingAnalysisExcelFile Into DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('StartProcessLog - ReturnProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "PASSED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": null
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_SQLPoolServername": {
									"value": "@pipeline().parameters.P_SQLPoolServername",
									"type": "Expression"
								},
								"P_SQLPoolDBName": {
									"value": "@pipeline().parameters.P_SQLPoolDBName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "EndProcessLog_Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy PurchasingAnalysisExcelFile Into DB",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[LOG].[sp_EndETLProcessLogs]",
							"storedProcedureParameters": {
								"ETLProcessID": {
									"value": {
										"value": "@activity('StartProcessLog - ReturnProcessID').output.firstRow.ETLProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Execute Pipeline1').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLPool_ddo_azuresqldw_dw",
							"type": "LinkedServiceReference",
							"parameters": {
								"P_SQLPoolServername": {
									"value": "@pipeline().parameters.P_SQLPoolServername",
									"type": "Expression"
								},
								"P_SQLPoolDBName": {
									"value": "@pipeline().parameters.P_SQLPoolDBName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"P_StorageAccountRawFiles": {
						"type": "string",
						"defaultValue": "mdwdostordevpoc"
					},
					"P_ContainerRawFiles": {
						"type": "string",
						"defaultValue": "raw-purchase"
					},
					"P_SQLPoolServername": {
						"type": "string",
						"defaultValue": "mdwdosqlsrvrdevpoc.database.windows.net"
					},
					"P_SQLPoolDBName": {
						"type": "string",
						"defaultValue": "ddo_azuresqldw_dw"
					},
					"P_DBSchema": {
						"type": "string",
						"defaultValue": "purchase"
					}
				},
				"variables": {
					"V_ListOfSheetNames": {
						"type": "Array",
						"defaultValue": [
							"Dim Dates",
							"Dim Vendors",
							"Dim VendorGroups",
							"Dim Companies",
							"Dim Departments",
							"Dim Currencies",
							"Dim Products",
							"Dim ProductSubGroups",
							"Dim ProductGroups",
							"Dim PAMSTypes",
							"Dim Employees",
							"Dim SavingTypes",
							"Dim PaymentTerms",
							"Fact PurchaseRequests",
							"Fact PAMS",
							"Fact PurchaseOrders",
							"Fact Receives",
							"Fact Payments"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ASynapsePurchaseTableDS')]",
				"[concat(variables('workspaceId'), '/linkedServices/SQLPool_ddo_azuresqldw_dw')]",
				"[concat(variables('workspaceId'), '/pipelines/CopyPurchasingAnalyticsFromExcelToSQLPool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ASynapsePurchaseTableDS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLPool_ddo_azuresqldw_dw",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_SQLPoolServername": "mdwdosqlsrvrdevpoc.database.windows.net",
						"P_SQLPoolDBName": "ddo_azuresqldw_dw"
					}
				},
				"parameters": {
					"P_SQLPoolServername": {
						"type": "string",
						"defaultValue": "mdwdosqlsrvrdevpoc.database.windows.net"
					},
					"P_SQLPoolDBName": {
						"type": "string",
						"defaultValue": "ddo_azuresqldw_dw"
					},
					"P_DBSchema": {
						"type": "String",
						"defaultValue": "purchase"
					},
					"P_TableName": {
						"type": "String",
						"defaultValue": "DimDates"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().P_DBSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().P_TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/SQLPool_ddo_azuresqldw_dw')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PurchasingAnalyticseExcelDS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RawPurchaseData",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageAccountPurchaseRaw": {
							"value": "@dataset().P_StorageAccountRawFiles",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"P_ExcelTableName": {
						"type": "String",
						"defaultValue": "Dim Dates"
					},
					"P_StorageAccountRawFiles": {
						"type": "String",
						"defaultValue": "mdwdostordevpoc"
					},
					"P_ContainerRawFiles": {
						"type": "String",
						"defaultValue": "raw-purchase"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().P_ExcelTableName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Purchasing Analytics.xlsx",
						"container": {
							"value": "@dataset().P_ContainerRawFiles",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/RawPurchaseData')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RawPurchaseData')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"StorageAccountPurchaseRaw": {
						"type": "String",
						"defaultValue": "mdwdostordevpoc"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('RawPurchaseData_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQLPool_ddo_azuresqldw_dw')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"P_SQLPoolServername": {
						"type": "String",
						"defaultValue": "mdwdosqlsrvrdevpoc.database.windows.net"
					},
					"P_SQLPoolDBName": {
						"type": "String",
						"defaultValue": "ddo_azuresqldw_dw"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('SQLPool_ddo_azuresqldw_dw_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('mdwdosqlsrvrdevpoc-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mdwdosqlsrvrdevpoc-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('mdwdosqlsrvrdevpoc-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ddo_azuresqldw_dw')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		}
	]
}